<div class="ds_error-summary" id="error-summary" data-turbo="false" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
  <h2 class="ds_error-summary__title" id="error-summary-title">
    <%= t('.problem') %>
  </h2>
  <ul class="ds_error-summary__list">
    <%= summary_error_list %>
  </ul>
</div>
