<header class="ds_page-header ds_!_margin-bottom--1">
  <%# We allocate a tab index of -1 so we can programmatically focus on it for accessibility %>
  <h1 class="ds_page-header__title" tabindex="-1"><%= page_title %></h1>
</header>
