<div class="ds_phase-banner" data-module="ds_phase-banner" id="ds_phase-banner" >
  <div class="ds_wrapper">
    <p class="ds_phase-banner__content">
      <% unless banner_tag_text.nil? %>
        <strong class="ds_tag  ds_phase-banner__tag" id="ds_phase-banner__tag">
          <%= banner_tag_text %>
        </strong>
      <% end %>
      <span class="ds_phase-banner__text" id="ds_phase-banner__text">
        <%= banner_text %>
      </span>
    </p>
  </div>
</div>