<div class="ds_skip-links">
  <ul class="ds_skip-links__list">
    <li class="ds_skip-links__item"><a class="ds_skip-links__link" href="#main-content" data-turbo="false" data-navigation="skip-link-1"><%= t('.skip') %></a></li>
  </ul>
</div>
