/*------------------------------------*\
    Extensions to the link styling
\*------------------------------------*/

.rs_link {
    &--centered {
        text-align: center;
        display: block;
    }

    &--banner_link {
        color: #ffff;
    }
}

.message_link_container {
    flex-direction: row;
    display: flex;
}