/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require 'jquery-ui'
 *= require 'govuk-frontend-1.3.0.min'  
 *= require 'spin'  
 *= require_tree .
 *= require_self
 */

// The drop-down for the autocomplete field needs to have it's height set to a fixed value so that
// it wouldn't open up the whole list without a scrollbar.
.ui-autocomplete {
  max-height: 300px;
  overflow-y: auto;   // prevent horizontal scrollbar
  overflow-x: hidden; // add padding to account for vertical scrollbar
  z-index:1000 !important;
}
// Style for the 'Show all items' button used for the autocomplete field to show the drop down.
.custom-combobox-toggle {
  background-color: #fff;
  position: relative;
  margin-left: -25px; // Button needs to be pushed to the left since it's initially outside the field
  border: 0px;
  // The three below are needed because the width of the button is too wide, so some extra styling are
  // added to make it look better.
  padding-left: 1px;
  padding-right: 1px;
  max-width: 18px;
}

.govuk-header__link:link,
.govuk-header__link:visited {
    color: #000;
}

.govuk-focus-colour {
    background: #DAC9EE
}
.govuk-header {
    background: #fff;
    font-family: "Raleway", Verdana, Helvetica, Arial, sans-serif;
}

.govuk-header__container {
    border-bottom: #ebebeb 5px solid;
    font-family: "Raleway", Verdana, Helvetica, Arial, sans-serif;
}

.custom-combobox-toggle,
.custom-combobox-input,
.custom-combobox,
.govuk-textarea,
.govuk-header__navigation,
.govuk-fieldset__heading,
.govuk-label,
.govuk-header__link,
.govuk-hint,
.error-message,
.govuk-table,
.govuk-input,
.govuk-button,
.scot-rev-button,
.govuk-warning-text__text,
.govuk-link {
    font-family: "Raleway", Verdana, Helvetica, Arial, sans-serif;
}

.govuk-textarea {
    min-height: 150px;
}

.govuk-label,
.govuk-fieldset__heading {
    font-weight: 600;
}
.govuk-header__navigation-item {
   border-bottom: 1px solid #fff;
}

.remove_border_bottom_line {
  border-bottom: 0;
}

@media (min-width: 48.0625em) {
    .govuk-header__navigation {
        float: right;
    }
}

.display-inline-text {
    display: inline-block;
}

.span-padding-left-5 {
    padding-left: 5px;
}

html body {
    font: 13px/1.5 Verdana, Helvetica, Arial, sans-serif;
    font-family: "Raleway", Verdana, Helvetica, Arial, sans-serif;
}

.govuk-width-container {
    font-size: 18px !important;
}

.clearfix:after {
    font-size: 0;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.js-enabled .js-hidden {
    display: none;
}

.serial_number
{
  border-bottom: 0px;
  width:5%;
}

.text_align_right
{
  text-align: right;
}

.text_align_left
{
  text-align: left;
}

.flash_error
{
    color: #b10e1e;
    font-weight: 700;
}

.money_format
{
  text-align: right;
}

.currency{
  padding-right: 5px;
  display: inline;
}

.scot-rev-button_link {
  border: 0px;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer; 
}

.icon {
  display: inline-block;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.icon-caution {
  width: 36px;
  height: 36px;
  background-image: image-url("icons/caution.png");
}

.submitted {
    background-color: #dee0e2;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

.margin-0{
    margin: 0px;
}

.govuk-header__menu-button
{
  color:black;
}

input[type=file] {
	width:100%;
}	

.link_css 
{
  text-decoration: underline;
  color: rgb(0, 0, 238);
}

.scot-rev-button {
  background-color: #224096;
  padding: 0 20px 0 20px;
  line-height: 46px;
  display: inline-block;
  color: #fff;
  font-weight: 700;
  border: 0;
  outline-offset: 0;
  font-size: 16px;
  text-decoration-line: none;
  position: relative;
  margin: 0 20px 0 0;
  overflow: visible;
}

.scot-rev-button:after {
  content: "";
  width: 30px;
  height: 67px;
  background: transparent image-url("blue-icon.png") no-repeat 0px 0px;
  right: -30px;
  position: absolute;
  display: inline-block;
  top:-2px;
}


.scot-rev-button:focus {
outline: 3px solid #ffbf47;
}

.scot-rev-button:focus:after {
  content: "";
  width: 30px;
  height: 67px;
  background: transparent image-url("blue-icon-focus.png") no-repeat 0px 0px;
  right: -30px;
  position: absolute;
  display: inline-block;
}

.scot-rev-submit {
  background-color: #224096;
  line-height: 46px;
  display: inline-block;
  border: 0;
  outline-offset: 0;
  font-size: 16px;
  text-decoration-line: none;
  position: relative;
  margin-right: 20px;
}

.scot-rev-submit input[type="submit"]{
  background-color: transparent;
  border:0px;
  display: inline-block;
  color: #fff;
  font-weight: 700;
  border: 0;
  outline-offset: 0;
  font-size: 16px;
  text-decoration-line: none;
  padding: 0px 20px ;
}

.scot-rev-submit-image {
  content: "";
  width: 30px;
  height: 67px;
  background: transparent image-url("blue-icon.png") no-repeat 0px 0px;
  right: -30px;
  position: absolute;
  display: inline-block;
  top:-2px;
}

.scot-rev-submit input[type="submit"]:focus {
  outline: 3px solid #ffbf47;
  padding: 14px 20px ;
}

.scot-rev-submit input[type="submit"]:focus + .scot-rev-submit-image {
  content: "";
  width: 30px;
  height: 67px;
  background: transparent image-url("blue-icon-focus.png") no-repeat 0px 0px;
  right: -30px;
  position: absolute;
  display: inline-block;
}

input[type="CURRENCY"]
{
  display: inline;
}

.about_the_property thead
{
  text-align: left;
}

.about_the_property td
{
  vertical-align: bottom;
  padding: 0;
}
