/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require 'jquery-ui'
 *= require 'govuk-frontend'
 *= require 'jquery-ui-overrides'
 *= require 'govuk-frontend-overrides'
 *= require 'spin'  
 *= require 'cookies'
 *= require 'headerfooter'
 *= require 'pagination'
 *= require 'scot-rev'
 *= require_self
 */

// The fieldset-input... are css used for when we create fields under the fieldset_fields.
// This is equivalent to the contents of .govuk-date-input from govuk-frontend-1.3.0.min.css
.fieldset-input {
  font-size: 0
}

.fieldset-input:after {
  content: "";
  display: block;
  clear: both
}

// Equivalent to the .govuk-date-input__item with source stated above on the .fieldset-input comments
.fieldset-input__item {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 0;
}

.table_field_textarea {
  min-height: 50px;
}

.display-field {
  outline: 0px;
}

.remove_border_bottom_line {
  border-bottom: 0;
}

.table_footer {
  font-weight: 700;
}

.display-inline-text {
  display: inline-block;
}

.span-padding-left-5 {
  padding-left: 5px;
}

.clearfix:after {
    font-size: 0;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.js-enabled .js-hidden {
    display: none;
}

.text_align_right {
  text-align: right;
}

.flash_error {
    color: #b10e1e;
    font-weight: 700;
}

.region_data_heading {
  font-weight: normal;
}

.table_action_item {
  margin-right: 40px;
}

.money_format {
  text-align: right;
}

.currency {
  padding-right: 5px;
  display: inline;
}

.percentage {
  padding-left: 5px;
  display: inline;
}

input[type=file] {
	width:100%;
}	

input[type="CURRENCY"] {
  display: inline;
}

span.avoidwrap { 
  display: block;
  clear: both;
}
