// CSS for the cookie banner
@import "global_variables";

.revscot_cookies {
  position: fixed;
  width: 100%;
  background-color: rgba(34,64,150,0.9);
  padding-top: 30px;
  padding-bottom: 30px;
  bottom: 0;
  z-index: 99999;
  text-align: center;
}

.revscot_cookies-content {
  margin: 0 auto;
  max-width: 80%;
  display: inline-block;
  text-align: left;
  width: 100%;
}

.revscot_cookies-text {
  float: left;
  max-width: 60%;
}

.revscot_cookies-text h2 {
  text-align: left;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 0;
}
.revscot_cookies-text p {
  color: #fff;
  font-size: 18px;
  display: inline;
  font-weight: 400;
}

.revscot_cookies-text p a {
  color: #fff;
  font-size: 18px;
  display: inline;
  font-weight: 400;
}

.revscot_cookies-buttons {
  float: right;
  max-width: 40%;
}

.revscot_cookies-ok,
.revscot_cookies-no {
  text-shadow: none;
  outline: none;
  cursor: pointer;
  margin: 0;
  border: 0;
  color: #fff;
  background: none;
  padding: 5px 23px;
  vertical-align: middle;
  float: none;
  border-radius: 0;
  font-size: 24px;
  font-weight: 400;
  font-family: $govuk-font-family;
}

.revscot_cookies-ok {
  border: 2px solid #fff;
}

.revscot_cookies-text a:focus,
.revscot_cookies-ok:focus,
.revscot_cookies-no:focus {
  border: 2px solid #2b2b2b;
  outline: 0px;
  border-radius: 5px;
  box-shadow: 0 0 0 3px #ffbf47;
}