/**
 * Stylesheet for overriding the govuk-frontend scss
 */

.govuk-header__link:link,
.govuk-header__link:visited {
  color: #000;
}

.govuk-focus-colour {
  background: #DAC9EE
}

.govuk-header {
  background: #fff;
}

.govuk-header__container {
  border-bottom: #ebebeb 5px solid;
}

.govuk-textarea {
  min-height: 150px;
}

.govuk-label,
.govuk-fieldset__heading {
  font-weight: 600;
}

.govuk-header__navigation-item {
  border-bottom: 1px solid #fff;
}

@media (min-width: 48.0625em) {
  .govuk-header__navigation {
    float: right;
  }
}

.govuk-width-container {
    font-size: 18px !important;
}

.govuk-header__menu-button {
  color:black;
}

// Puts the menu below the logo so that they do not overlap each other when resizing the browser
@media (max-width: 255px) {
  .govuk-header__menu-button {
    position: static;
    margin-bottom: 10px;
  }
}

.govuk-footer {
  background-color: unset;
  border-top: 0px;
}