/**
 * Stylesheet that handles the pagination related code
 */

.page-numbers-container {
    margin-top: 0px;
    overflow: hidden;
}

.page-numbers-container .next,
.page-numbers-container .previous {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.page-numbers-container .next a,
.page-numbers-container .previous a {
    display: block;
    background-repeat: no-repeat;
    background-size: 17px 14px;
}

.page-numbers-container .next {
    float: right;
    text-align: right;
}

.page-numbers-container .next a {
    padding-right: 30px;
    background-image: image-url("arrow-pagination-right.png");
    background-position: 100% 7px;
}

.lt-ie11 .page-numbers-container .next a,
.lte-ie8 .page-numbers-container .next a {
    background-image: image-url("arrow-pagination-right.png");
}

.page-numbers-container .previous {
    float: left;
    text-align: left;
}

.page-numbers-container .previous a {
    padding-left: 30px;
    background-image: image-url("arrow-pagination-left.png");
    background-position: 0 7px;
}

.lte-ie11 .page-numbers-container .previous a,
.lte-ie8 .page-numbers-container .previous a {
    background-image: image-url("arrow-pagination-left.png");
}

.page-navigation .previous,
.page-navigation .next {
    width: 49%;
}

@media (max-width: 370px) {
    .page-navigation .previous,
    .page-navigation .next {
        width: 100%;
    }
}

.page-navigation .previous {
    margin-right: 2%;
}

@media (max-width: 370px) {
    .page-navigation .previous {
        margin-right: 0;
        margin-bottom: 15px;
    }
}

.pagination-container {
    margin-bottom: 30px;
}

.pagination-item-range {
    margin: 0 auto;
    text-align: center;
}

.pagination-item-range p {
    margin: 0;
    display: inline-block;
}

@media (max-width: 370px) {
    .pagination-item-range {
        margin-top: 15px;
    }
}
