/**
 * Stylesheet for the scot-rev items such as buttons, links,
 * links that looks like a button, button that looks like a link, etc.
 */
@import 'global_variables';

// Button that looks like a link.
.scot-rev-button_link {
  border: 0px;
  padding: 0px;
  font-size: 19px;
  text-decoration: underline;
  color: #1d70b8;
  background-color: transparent;
  cursor: pointer; 
}

// Standard button
.scot-rev-button {
  background-color: #224096;
  padding: 0 20px 0 20px;
  line-height: 46px;
  height: 46px;
  display: inline-block;
  color: #fff;
  font-weight: 700;
  border: 0;
  outline-offset: 0;
  font-size: 16px;
  text-decoration-line: none;
  position: relative;
  margin: 0 20px 0 0;
  overflow: visible;
  font-family: $govuk-font-family;
}

// For links that looks like a button.
// Using the ARC toolkit for the text-spacing feature, this type of button will not lose parts of its appearance.
a[class~="scot-rev-button"] {
  line-height: 23px;
  height: 23px;
  padding-top: 11.5px;
  padding-bottom: 11.5px;
}

.scot-rev-button:after {
  content: "";
  width: 30px;
  height: 67px;
  background: transparent image-url("blue-icon.png") no-repeat 0px 0px;
  right: -30px;
  position: absolute;
  display: inline-block;
  top:-2px;
}


.scot-rev-button:focus {
outline: 3px solid #ffbf47;
}

.scot-rev-button:focus:after {
  content: "";
  width: 30px;
  height: 67px;
  background: transparent image-url("blue-icon-focus.png") no-repeat 0px 0px;
  right: -30px;
  position: absolute;
  display: inline-block;
}

.scot-rev-submit {
  background-color: #224096;
  height: 46px;
  display: inline-block;
  border: 0;
  outline-offset: 0;
  font-size: 16px;
  text-decoration-line: none;
  position: relative;
  margin-right: 20px;
}

.scot-rev-submit input[type="submit"] {
  background-color: transparent;
  border:0px;
  height: 46px;
  display: inline-block;
  color: #fff;
  font-weight: 700;
  border: 0;
  outline-offset: 0;
  font-size: 16px;
  text-decoration-line: none;
  padding: 0px 20px;
  font-family: $govuk-font-family;
}

.scot-rev-submit-image {
  content: "";
  width: 30px;
  height: 67px;
  background: transparent image-url("blue-icon.png") no-repeat 0px 0px;
  right: -30px;
  position: absolute;
  display: inline-block;
  top:-2px;
}

.scot-rev-submit input[type="submit"]:focus {
  outline: 3px solid #ffbf47;
  padding: 14px 20px ;
}

.scot-rev-submit input[type="submit"]:focus + .scot-rev-submit-image {
  content: "";
  width: 30px;
  height: 67px;
  background: transparent image-url("blue-icon-focus.png") no-repeat 0px 0px;
  right: -30px;
  position: absolute;
  display: inline-block;
}

// For all buttons (or button look-alike) when screen is resized down to certain width,
// it will change the width to full.
@media (max-width: 40.0625em) {
  .scot-rev-button, .scot-rev-submit, .scot-rev-submit input[type="submit"] {
    width: 100%;

    margin-bottom: 32px;
    font-size: 19px;
    font-size: 1.1875rem;
  }

  // The anchor tag seems to have a wider 100% width, so this was done to match the correct
  // width (as a normal button's).
  a[class~="scot-rev-button"] {
    max-width: 92.5%;
    text-align: center;
  }
}