<% content_for :page_title, t('.title') %>
<% content_for :page_view, render_page_view(__FILE__) %>
<% content_for :hide_back_link, true %>
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            <%= t('.return_submitted') %>
          </h1>
          <% return_type = if @slft_return.version == "1" 
                              'SLFT'
                            else
                              'AMEND_SLFT'
                            end
          %>
        </div>
        <%= render "/layouts/tax_return_submit_text", return_type: return_type, 
                                                      return_reference: @slft_return.tare_reference, 
                                                      payment_method: @slft_return.payment_description, 
                                                      payment_due_date: @slft_return.payment_date %>
        <p class="govuk-body">
            <%= link_to t('go_to_dashboard'), dashboard_path %>
        </p>
      </div>
    </div>
  </main>
</div>

