<% if cookies && cookies['revscot_cookies'].nil? %>
  <div class="revscot_cookies">
    <div class="revscot_cookies-content">
      <span class="revscot_cookies-text">
        <%= sub_heading %>
        <%# NOTE: The translated text contains a link, and cookies has it's own styling for a link,
          #       so the display_paragraph_components cannot be used as that applies the govuk standards %>
        <p class="govuk-body"><%= t('.body_html') %></p>
      </span>
      <span class="revscot_cookies-buttons">
        <button class="revscot_cookies-ok"> <%= t('.ok_thanks') %> </button>
        <button class="revscot_cookies-no"> <%= t('.no_thanks') %> </button>
      </span>
    </div>
  </div>
<% end %>
