<header class="govuk-header " role="banner" data-module="header">
  <div class="govuk-header__container">
    <div class="govuk-width-container">
      <div class="govuk-header__logo">
        <a href="<%= external_link_url('HOME') %>" class="govuk-header__link govuk-header__link--homepage">
          <span class="govuk-header__logotype">
            <%=image_tag("logo.svg", alt: t('revenue_scotland')) %>
          </span>
        </a>
      </div>
      <div class="govuk-header__content">
        <% unless yield(:hide_menu_link) == 'true' %>
          <% unless current_page?({controller: '/login', action: 'new'})   %>
            <button role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation" id="menu" >Menu</button>
            <nav>
              <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
                <% if yield(:hide_navigation_bar) != 'true'  %>
                  <% # using eval to convert the string from content for into the object expected   %>
                  <% if yield(:nav_bar_html_options).blank? %>
                    <%= account_links eval(yield(:hide_navigation_links)) %>
                  <% else %>
                    <%= account_links eval(yield(:hide_navigation_links)), **eval(yield(:nav_bar_html_options)) %>
                  <% end %>
                <% end %>
              </ul>
            </nav>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</header>
