<% content_for :notifications do %>
  <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        <%= t('important') %>
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <% notifications.each do |notification| %>
        <p class="govuk-notification-banner__heading">
          <%# This should not be called if notifications is blank %>
          <%= notification.title%>
          <% if !notification.link.nil? %>
            <%= link_to(t('more_info'), notification.link, {'data-turbolinks' => "false",:class => "govuk-notification-banner__link"}) %>
          <% end %>
        </p>
      <% end %>
    </div>
  </div>
<% end %>
